* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html, body {
    height: 100%;
}

.main {
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40xp;
}

.main__row__head {
    display: inline-block;
    width: 100%;
}

.main__row__head__direita {
    float: right;
    color: white;
    border: black;
}

.main__row__head__direita > button { 
    border-radius: 20px;
}

.main__row__head__direita > button > img {
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 5px;
}

.main__row__head__direita > #main__upgrade {
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    margin-right: 40px;
    border-color: rgba(245, 245, 245, 0.719);
}

.main__row__head__direita > #main__upgrade:hover {
    transform: scale(1.08);
    border-color: white ;
}

.main__row__head__direita > #main__perfil {
    width: 130px;
    height: 32px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    margin-top: 3.2px;
    margin-right: 40px;
    border-top: 100px;
    border-left: none;
} 

#main__perfil:hover {
    background-color: rgb(43, 43, 43);
}

.main__wraper {
    padding-bottom: 200px;
}

.main__row__tittle{
    width: 100%;
}

.main__row__tittle h2 {
    color: white;
}

.main__col {
    cursor: pointer;
    width: 11%;
    margin-right: 1.5%;
    margin-top: 20px;

    background-color: #282828;
    border-radius: 8px;

    padding: 10px;

    text-align: center;
}

#avicci {
    width: 145px;
}

.main__col h3 {
    color: rgb(190, 190 ,190);
    margin: 8px 0;
}

.main__col p{
    color: rgb(100,100,100);
    margin: 8px 0;
    font-size: 15px;
    text-align: center;
}

